<h1>Confirmation of your user account</h1>
<p>
    Hello, {{ user.username }} and welcome to our site.<br><br>
    Please confirm your account by clicking the link below.<br><br>
    Please note that this link is valid until <strong>{{ lifeTimeToken }}</strong> after this date it will no longer be valid.<br><br>
    <a href="{{ absolute_url(path('account_verify', {token: token, id: user.id})) }}">Verify my account</a><br><br>
    <strong>This is an automatic email, please do not reply.</strong><br><br>
    See you soon on our site
</p>
