<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="favicon.ico" />
    
    {# Bloc pour inclure les fichiers CSS générés par Webpack Encore #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {# Bloc pour le contenu principal de la page #}
    {% block body %}
    {% endblock %}
    
    {# Bloc pour inclure les fichiers JavaScript générés par Webpack Encore #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>

